.personal img{
    }


  .personal h2{
    font: 25px veranda;
      }

      .city p{
      font: 14px veranda;
    }

    .city h3{
      font: 23px veranda;
  }

    .city img{
        }

.table h2{
  font: 20px veranda;
}


table, td, th{
  border-collapse: collapse;
  border: 1px solid black;
    }

  td{

    font: 15px veranda;
    }

  th{
  font: 25px veranda;
  }

  .district-six img{
        float: right;
  }

  .bo-kaap img{
        float: left;
  }

  .parliament img{
      float: right;
  }

  .district-six::after{
    content: "";
    display: table;
    clear: both;
  }

  .bo-kaap::after{
    content: "";
    display: table;
    clear: both;
  }

  .parliament::after{
    content: "";
    display: table;
    clear: both;
  }



  .historical p{
      font: 12px veranda;
  }

    .district-six p{
    padding-right: 4em;
  }

  .bo-kaap p{
    padding-left: 14em;
  }

  .bo-kaap h2{
    padding-left: 10em;
  }



  .historical h2{
    font: 18px veranda;
  }
