.personal img{
    }


  .personal h2{
    font: 25px veranda;
      }

      .city p{
      font: 14px veranda;
    }

    .city h3{
      font: 23px veranda;
  }

    .city img{
        }

.table h2{
  font: 20px veranda;
}


table, td, th{
  border-collapse: collapse;
  border: 1px solid black;
    }

  td{

    font: 15px veranda;
    }

  th{
  font: 25px veranda;
  }

  .historical img{
  }

  .historical p{
    font: 12px veranda;
  }

  .historical h2{
    font: 18px veranda;
  }
